:host {
  font-family: Metropolis, Avenir Next, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #002538;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.hero {
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: 300px;
  width: 102vw;
  background-color: #002538;
  left: -24px;
  padding-bottom: 3em;
  padding-top: 3em;
  position: relative;
  text-align: center;
  top: 50px;
  color: white;
}

.hero img {
  max-width: 160px;
}

.vmware-logo {
  width: 125px;
  left: 9px;
}

.cs-title {
  font-size: 20px;
  font-weight: 400;
  font-family: Metropolis, Avenir Next, Helvetica Neue, Arial, sans-serif;
  letter-spacing: 0.01em;
  color: #fafafa;
  line-height: 60px;
  text-decoration: none;
  display: block;
}

.clickable {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.cs-column {
  float: left;
  width: 30% !important;
  padding: 0 10px;
}

.cs-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 250px 0px 250px;
}

/* Remove extra left and right margins, due to padding */
.rcs-ow {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.cs-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
// @media screen and (max-width: 600px) {
//   .cs-column {
//     width: 100%;
//     display: block;
//     margin-bottom: 20px;
//   }
// }

.cs-column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

/* Style the counter cards */
.cs-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #fff;
  margin-bottom: 25px;
  color: #000;
  text-decoration: none;
  height: 450px;
  width: 300px;
}

.cs-card:hover {
  box-shadow: 0 3px 0 0 #0094d2;
  border: 1px solid #0094d2;
  text-decoration: none;
  -webkit-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
  transition: border .2s ease,-webkit-transform .2s ease;
  transition: border .2s ease,transform .2s ease;
  transition: border .2s ease,transform .2s ease,-webkit-transform .2s ease;
}

.cs-header {
  font-size: 24px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #6a6868;
  font-weight: 900;
}

.card-footer {
  font-size: 11px;
  color: gray;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 20%;
  align-self: flex-end;
}

h5 {
  font-weight: 400;
  font-family: Metropolis, Avenir Next, Helvetica Neue, Arial, sans-serif;
  font-size: 19px;
  letter-spacing: 0.01em;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0;
}

.terminal {
  position: relative;
  width: 80%;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.anchor-style {
  color: #529abc;
  text-decoration: none;
  margin-right: 25px;
}
