<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="vmware-logo">
    <img src="https://vmware.github.io/images/vmware.svg" alt="Angular Logo" />
  </span>
  <span class="cs-title">CodeStream Hub</span>
</div>

<div class="hero">
  <img src="https://vmware.github.io/images/vmw_oss.svg" alt="Angular" />
  <h1 style="width: 72%; 
  margin-left: auto;
  margin-right: auto; font-weight: 400;line-height: 48px;
margin-top: 24px;">Building Custom Integrations for Everyone</h1>
  <h5 style="margin-bottom: 20px;">Collaborative space for VMware and Community to build and share verified custom
    integrations together with one
    click installations and upgrades
  </h5>
  <a href="#anchor-name" class="anchor-style">How to Install/Upgrade?</a>
  <a class="anchor-style" href="https://github.com/CodeStreamHub/integrations-registry#readme" target="_blank">How to
    Publish?</a>
  <a class="anchor-style"
    href="https://docs.vmware.com/en/VMware-Code-Stream/services/Using-and-Managing-CodeStream/GUID-AB3CF709-D725-4CF2-90E5-144E0162DA59.html"
    target="_blank">How to Build?</a>
</div>

<div class="content" role="main">
  <h2 class="cs-header">Featured Custom Integrations</h2>
  <div class="cs-row">
    <ng-container *ngFor="let int of integration">
      <div class="cs-column">
        <div class="cs-card">
          <div class="card-wrapper">
            <div class="card-block">
              <div style="text-align: center;">
                <p>
                  <img src="{{int.logo}}" alt="velero" style="width: 120px;text-align: center;" />
                </p>
              </div>
              <div class="card-text">
                <a target="_blank" href="{{int.repo}}" style="text-decoration: none;color: #000;">
                  <h4 style="font-size: 25px; font-weight: 300; line-height: 24px; margin: 50px 0px 10px 0px;">
                    {{int.name}}
                  </h4>
                </a>
                <div style="margin-left: 3px; font-size: smaller;"><a style="color: grey; text-decoration: none;"
                    href="#anchor-name" (click)="integrationId = int.id">ID : {{int.id}}</a></div>
                <p style="line-height: 24px;margin-top: 24px;margin-bottom: 0;">
                  {{int.description}}
                </p>
              </div>
            </div>
            <div class="card-footer">
              <table>
                <tr>
                  <td style="width: 240px;">Publisher</td>
                  <td>Version</td>
                </tr>
                <tr style="font-weight: bold;">
                  <td style="width: 242px;">{{int.publisher}}</td>
                  <td>{{int.latestVersion}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- Terminal -->
<h5 id="anchor-name" style="font-size: 22px; font-weight: 700;color: #6a6868;">How to Install/Upgrade</h5>
<div class="terminal">
  <pre>Download the <a style="color: #529abc;" href="https://github.com/CodeStreamHub/codestream-cli/tree/main/binaries" target="_blank">CLI</a> and add to PATH</pre>
  <pre>Run 'cs login -t &lt;API token&gt;' command to login to your org/instance (This is a one-time step)</pre>
  <pre>Run 'cs ci install {{integrationId}} -p &lt;project&gt;'</pre>
</div>
<br>
<div style="font-size: 15px; line-height: 24px; margin-bottom: 50px;">Selected integration is now installed to your
  org/instance and you can
  start using it.
  And for upgrading the existing integrations, just use 'cs ci upgrade' command with appropriate values.
  <br>For any help related to CLI, use -h flag.<br>
  <span style="    color: #5d5959;">*Copy/Click ID from the card to replace &lt;integration id&gt; value</span></div>

<router-outlet></router-outlet>