<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="vmware-logo">
    <img src="https://vmware.github.io/images/vmware.svg" alt="Angular Logo" />
  </span>
  <span class="cs-title">CodeStream Custom Integration</span>
</div>

<div class="hero">
  <img src="https://vmware.github.io/images/vmw_oss.svg" alt="Angular" />
  <h1 style="width: 72%; color: #fff;
  margin-left: auto;
  margin-right: auto; font-weight: 400;line-height: 48px;
margin-top: 24px;">Building Custom Integration for Everyone</h1>
</div>

<div class="content" role="main">
  <h2 style="font-size: 24px; margin-bottom: 25px;">Featured Custom Integration</h2>
  <div class="cs-row">
    <ng-container *ngFor="let int of integration">
      <div class="cs-column">
        <div class="cs-card clickable">
          <!-- <a target="_blank" href="https://velero.io/" style="text-decoration: none;color: #000;"> -->
            <div class="card-block">
              <div>
                <p>
                  <img src="{{int.logo}}" alt="velero" style="width: 120px;text-align: center;" />
                </p>
              </div>
              <div class="card-text">
                <h4 style="font-size: 25px; font-weight: 300; line-height: 24px; margin: 25px 0px 25px 0px;">
                  {{int.name}}
                </h4>
                <p style="line-height: 24px;margin-top: 24px;margin-bottom: 0;">
                  {{int.description}}
                </p>
              </div>
            </div>
          <!-- </a> -->
        </div>
      </div>
    </ng-container>
  </div>
</div>

<router-outlet></router-outlet>